---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Testimonials from '../components/Testimonials.astro';
import Newsletter from '../components/Newsletter.astro';
import Footer from '../components/Footer.astro';
import Benefits from '../components/Benefits.astro';
import Steps from '../components/Steps.astro';
import Cta from '../components/Cta.astro';
---

<Layout title="SnapSites - Website Solutions For Businesses">
  <Header />
  <main>
    <Hero />
    <Benefits />
    <Features />
    <Steps />

    <Cta />
  </main>
  <Footer />
</Layout>
