---

---

<section class="pt-16 bg-white dark:bg-gray-800/50">
    <div class="container-custom">
        <div class="grid md:grid-cols-2 gap-12 py-15">
            
            <div>

                <h2 class="t-3xl font-bold text-gray-900 dark:text-white mb-6">Why Having a Website Matters</h2>
                <p class="text-gray-600 dark:text-gray-300">
                    <b>Having a website means people know what you offer.</b><br><br>
                    Many people prefer to see their options by searching for services online and a 
                    good website will attract potential customers. 
                    A good website generates new clients who don't know about businesses around them, 
                    or people who are far away and need that service. 
                    A website also makes a business more credible, 
                    testimonials show people how successful and trustworthy the business is.
                </p>
            </div>
            <div class="flex justify-center">
                <svg class="h-100 w-100" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 800 800">
                    <g fill="none" stroke-width="3" stroke="#4978ff" stroke-linecap="round">
                        <line x1="156" y1="400" x2="644" y2="400" transform="rotate(0, 400, 400)" opacity="0.90"></line><line x1="675" y1="400" x2="125" y2="400" transform="rotate(5, 400, 400)" opacity="0.63"></line><line x1="442.5" y1="400" x2="357.5" y2="400" transform="rotate(10, 400, 400)" opacity="0.86"></line><line x1="452" y1="400" x2="348" y2="400" transform="rotate(15, 400, 400)" opacity="0.25"></line><line x1="683" y1="400" x2="117" y2="400" transform="rotate(20, 400, 400)" opacity="0.93"></line><line x1="632" y1="400" x2="168" y2="400" transform="rotate(25, 400, 400)" opacity="0.40"></line><line x1="364" y1="400" x2="436" y2="400" transform="rotate(30, 400, 400)" opacity="0.37"></line><line x1="472.5" y1="400" x2="327.5" y2="400" transform="rotate(35, 400, 400)" opacity="0.48"></line><line x1="193.5" y1="400" x2="606.5" y2="400" transform="rotate(40, 400, 400)" opacity="0.30"></line><line x1="546" y1="400" x2="254" y2="400" transform="rotate(45, 400, 400)" opacity="0.43"></line><line x1="338" y1="400" x2="462" y2="400" transform="rotate(50, 400, 400)" opacity="0.27"></line><line x1="244" y1="400" x2="556" y2="400" transform="rotate(55, 400, 400)" opacity="0.95"></line><line x1="265" y1="400" x2="535" y2="400" transform="rotate(60, 400, 400)" opacity="0.68"></line><line x1="242.5" y1="400" x2="557.5" y2="400" transform="rotate(65, 400, 400)" opacity="0.30"></line><line x1="716" y1="400" x2="84" y2="400" transform="rotate(70, 400, 400)" opacity="0.45"></line><line x1="153.5" y1="400" x2="646.5" y2="400" transform="rotate(75, 400, 400)" opacity="0.66"></line><line x1="663" y1="400" x2="137" y2="400" transform="rotate(80, 400, 400)" opacity="0.31"></line><line x1="564" y1="400" x2="236" y2="400" transform="rotate(85, 400, 400)" opacity="0.49"></line><line x1="126" y1="400" x2="674" y2="400" transform="rotate(90, 400, 400)" opacity="0.81"></line><line x1="139.5" y1="400" x2="660.5" y2="400" transform="rotate(95, 400, 400)" opacity="0.25"></line><line x1="493.5" y1="400" x2="306.5" y2="400" transform="rotate(100, 400, 400)" opacity="0.99"></line><line x1="346.5" y1="400" x2="453.5" y2="400" transform="rotate(105, 400, 400)" opacity="0.67"></line><line x1="738.5" y1="400" x2="61.5" y2="400" transform="rotate(110, 400, 400)" opacity="0.51"></line><line x1="339.5" y1="400" x2="460.5" y2="400" transform="rotate(115, 400, 400)" opacity="0.25"></line><line x1="67" y1="400" x2="733" y2="400" transform="rotate(120, 400, 400)" opacity="0.47"></line><line x1="321.5" y1="400" x2="478.5" y2="400" transform="rotate(125, 400, 400)" opacity="0.45"></line><line x1="292.5" y1="400" x2="507.5" y2="400" transform="rotate(130, 400, 400)" opacity="0.70"></line><line x1="374.5" y1="400" x2="425.5" y2="400" transform="rotate(135, 400, 400)" opacity="0.63"></line><line x1="685.5" y1="400" x2="114.5" y2="400" transform="rotate(140, 400, 400)" opacity="1.00"></line><line x1="537.5" y1="400" x2="262.5" y2="400" transform="rotate(145, 400, 400)" opacity="0.64"></line><line x1="115" y1="400" x2="685" y2="400" transform="rotate(150, 400, 400)" opacity="0.44"></line><line x1="98.5" y1="400" x2="701.5" y2="400" transform="rotate(155, 400, 400)" opacity="0.88"></line><line x1="227" y1="400" x2="573" y2="400" transform="rotate(160, 400, 400)" opacity="0.58"></line><line x1="521" y1="400" x2="279" y2="400" transform="rotate(165, 400, 400)" opacity="0.22"></line><line x1="116.5" y1="400" x2="683.5" y2="400" transform="rotate(170, 400, 400)" opacity="0.47"></line><line x1="139.5" y1="400" x2="660.5" y2="400" transform="rotate(175, 400, 400)" opacity="0.19"></line><line x1="40" y1="400" x2="760" y2="400" transform="rotate(180, 400, 400)" opacity="0.74"></line><line x1="290.5" y1="400" x2="509.5" y2="400" transform="rotate(185, 400, 400)" opacity="0.74"></line><line x1="685.5" y1="400" x2="114.5" y2="400" transform="rotate(190, 400, 400)" opacity="0.34"></line><line x1="48" y1="400" x2="752" y2="400" transform="rotate(195, 400, 400)" opacity="0.22"></line><line x1="75.5" y1="400" x2="724.5" y2="400" transform="rotate(200, 400, 400)" opacity="0.99"></line><line x1="390" y1="400" x2="410" y2="400" transform="rotate(205, 400, 400)" opacity="0.37"></line><line x1="236.5" y1="400" x2="563.5" y2="400" transform="rotate(210, 400, 400)" opacity="0.48"></line><line x1="178" y1="400" x2="622" y2="400" transform="rotate(215, 400, 400)" opacity="0.92"></line><line x1="194" y1="400" x2="606" y2="400" transform="rotate(220, 400, 400)" opacity="0.14"></line><line x1="680.5" y1="400" x2="119.5" y2="400" transform="rotate(225, 400, 400)" opacity="0.76"></line><line x1="461" y1="400" x2="339" y2="400" transform="rotate(230, 400, 400)" opacity="0.92"></line><line x1="127.5" y1="400" x2="672.5" y2="400" transform="rotate(235, 400, 400)" opacity="0.34"></line><line x1="233" y1="400" x2="567" y2="400" transform="rotate(240, 400, 400)" opacity="0.19"></line><line x1="472" y1="400" x2="328" y2="400" transform="rotate(245, 400, 400)" opacity="0.88"></line><line x1="398" y1="400" x2="402" y2="400" transform="rotate(250, 400, 400)" opacity="0.25"></line><line x1="112.5" y1="400" x2="687.5" y2="400" transform="rotate(255, 400, 400)" opacity="0.68"></line><line x1="258.5" y1="400" x2="541.5" y2="400" transform="rotate(260, 400, 400)" opacity="0.81"></line><line x1="534" y1="400" x2="266" y2="400" transform="rotate(265, 400, 400)" opacity="0.59"></line><line x1="78.5" y1="400" x2="721.5" y2="400" transform="rotate(270, 400, 400)" opacity="0.66"></line><line x1="664.5" y1="400" x2="135.5" y2="400" transform="rotate(275, 400, 400)" opacity="0.61"></line><line x1="77" y1="400" x2="723" y2="400" transform="rotate(280, 400, 400)" opacity="0.21"></line><line x1="682.5" y1="400" x2="117.5" y2="400" transform="rotate(285, 400, 400)" opacity="0.13"></line><line x1="268.5" y1="400" x2="531.5" y2="400" transform="rotate(290, 400, 400)" opacity="0.67"></line><line x1="668" y1="400" x2="132" y2="400" transform="rotate(295, 400, 400)" opacity="0.55"></line><line x1="290" y1="400" x2="510" y2="400" transform="rotate(300, 400, 400)" opacity="0.96"></line><line x1="373" y1="400" x2="427" y2="400" transform="rotate(305, 400, 400)" opacity="0.15"></line><line x1="598.5" y1="400" x2="201.5" y2="400" transform="rotate(310, 400, 400)" opacity="0.88"></line><line x1="83.5" y1="400" x2="716.5" y2="400" transform="rotate(315, 400, 400)" opacity="0.72"></line><line x1="367.5" y1="400" x2="432.5" y2="400" transform="rotate(320, 400, 400)" opacity="0.61"></line><line x1="98" y1="400" x2="702" y2="400" transform="rotate(325, 400, 400)" opacity="0.87"></line><line x1="331" y1="400" x2="469" y2="400" transform="rotate(330, 400, 400)" opacity="0.75"></line><line x1="568.5" y1="400" x2="231.5" y2="400" transform="rotate(335, 400, 400)" opacity="0.99"></line><line x1="229" y1="400" x2="571" y2="400" transform="rotate(340, 400, 400)" opacity="0.35"></line><line x1="411.5" y1="400" x2="388.5" y2="400" transform="rotate(345, 400, 400)" opacity="0.86"></line><line x1="716.5" y1="400" x2="83.5" y2="400" transform="rotate(350, 400, 400)" opacity="0.27"></line><line x1="381.5" y1="400" x2="418.5" y2="400" transform="rotate(355, 400, 400)" opacity="0.58"></line><line x1="230" y1="400" x2="570" y2="400" transform="rotate(360, 400, 400)" opacity="0.51"></line><line x1="506.5" y1="400" x2="293.5" y2="400" transform="rotate(365, 400, 400)" opacity="0.80"></line><line x1="211" y1="400" x2="589" y2="400" transform="rotate(370, 400, 400)" opacity="0.50"></line>
                    </g>
                </svg>
            </div>
        </div>
                


        <div class="grid md:grid-cols-2 gap-12 py-15">
            <div class="flex justify-center">

                <img src="site-arrows.png" class="w-80 h-80">
            </div>
            <div>

                <h2 class="t-3xl font-bold text-gray-900 dark:text-white mb-8">A Website That Works for Your Business</h2>
                <p class="text-gray-600 dark:text-gray-300">
                    <b>Tailored websites that are unique to your business.</b><br><br>
                    We create modern, high-performing websites that are tailored for your business, 
                    attracting more customers, increase your online visibility, and increase availability. 
                    Our websites are custom designed - matching your brand and tell your story. 
                    We fully handle the technicalities, providing you with a smooth experience. 
                    We handle updates, 24/7 hosting and maintenance, including <i>"any-time"</i> updates.
                </p>
            </div>
        </div>

    </div>
</section>