---

---

<section class="w-full bg-gradient-to-r text-white shadow-md transition-all duration-300 from-blue-900 to-accent-800 py-2 px-4 flex items-center justify-center gap-2">
    <p class="text-md"><b>End of Summer Deal: No Onboarding Fee!</b></p>
</section>