---

---

<section class="section">
    <div class="container-custom">
        <h2 class="t-3xl font-bold text-gray-900 dark:text-white mb-6">
            Launch in 3 Simple Steps 
        </h2>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-[4em] h-[4em]" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m12 20l6-6m-6 6l-6-6m6 6V9.5M12 4v2.5"/>
        </svg>

        <h3 class="py-5">Step 1</h3>
        <p class="mb-5">Chat with us to discuss your needs</p>

        <svg xmlns="http://www.w3.org/2000/svg" class="w-[4em] h-[4em]" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m19 9l-7 6l-1.75-1.5M5 9l2.333 2"/>
        </svg>

        <h3 class="py-5">Step 2</h3>
        <p class="mb-5">We create and launch your custom website</p>
        
        <svg xmlns="http://www.w3.org/2000/svg" class="w-[4em] h-[4em]" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m19 9l-7 6l-1.75-1.5M5 9l2.333 2"/>
        </svg>

        <h3 class="py-5">Step 3</h3>
        <p class="mb-5">We keep you running smoothly and provide support</p>

        <!-- checkmark -->
        <!-- <svg xmlns="http://www.w3.org/2000/svg" class="w-[4em] h-[4em]" viewBox="0 0 24 24"><g fill="none">
            <path fill="currentColor" d="M4.565 12.407a.75.75 0 1 0-1.13.986l1.13-.986ZM7.143 16.5l-.565.493a.75.75 0 0 0 1.13 0l-.565-.493Zm8.422-8.507a.75.75 0 1 0-1.13-.986l1.13.986Zm-5.059 3.514a.75.75 0 0 0 1.13.986l-1.13-.986Zm-.834 3.236a.75.75 0 1 0-1.13-.986l1.13.986Zm-6.237-1.35l3.143 3.6l1.13-.986l-3.143-3.6l-1.13.986Zm4.273 3.6l1.964-2.25l-1.13-.986l-1.964 2.25l1.13.986Zm3.928-4.5l1.965-2.25l-1.13-.986l-1.965 2.25l1.13.986Zm1.965-2.25l1.964-2.25l-1.13-.986l-1.964 2.25l1.13.986Z"/>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m20 7.563l-4.286 4.5M11 16l.429.563l2.143-2.25"/>
        </g></svg> -->
    </div>
</section>