---

---
<section class="section-custom pt-20 pb-80 text-center">
    <h2 class="t-3xl font-bold text-gray-900 dark:text-white mb-6">
        Thank you for submitting our form
    </h2>
    <p class="text-gray-300">
        Someone will reach out to you shortly
    </p>
    <p class="mt-15">
      <a href="/" class="text-blue-300">Back to homepage</a>  
    </p>
</section>